Flask
Flask-Assets
Logbook
beautifulsoup4
cssmin
cssprefixer
cssutils
future
gevent
gevent-socketio; python_version <= '2.7'
-e 'git+https://github.com/abourget/gevent-socketio.git@master#egg=gevent-socketio; python_version >= "3.4"'
gevent-websocket
html5lib
lockfile
passlib
pyScss
python-daemon
pytz
six
webassets